<a href="https://github.com/gera2ld/qrcanvas-vue"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>
<div id="app" v-cloak>
  <div :class="tw`flex h-screen`">
    <div :class="tw`flex flex-col bg-gray-100 p-4`">
      <a href="#" :class="tw`text-3xl mb-2`">qrcanvas-vue</a>
      <div :class="tw`mb-4`">
        Works with Vue
        <select value="3" @change="onVersionChange">
          <option value="2">2.x</option>
          <option value="3">3.x</option>
        </select>
      </div>
      <ul class="menu" :class="tw`flex-1`">
        <li v-for="(item, i) in demos" :key="i">
          <a :class="{ active: item.path === active?.path }" :href="`#${item.path}`" v-text="item.name"></a>
        </li>
      </ul>
      <footer :class="tw`mt-2`">
        <p>Designed with &hearts; by <a href="https://gera2ld.space">Gerald</a></p>
      </footer>
    </div>
    <div :class="tw`flex-1 p-4 overflow-auto`" v-if="active?.data">
      <h3 :class="tw`text-2xl mb-4`" v-text="active.name"></h3>
      <div :class="tw`flex justify-center`" ref="content"></div>
      <pre class="code"><code v-html="active.data.highlightedHTML"></code></pre>
      <pre class="code"><code v-html="active.data.highlightedCode"></code></pre>
    </div>
    <div :class="tw`flex-1 p-4 overflow-auto`" v-else>
      <h3 :class="tw`text-2xl mb-4`">qrcanvas-vue</h3>
      <div v-html="readme"></div>
    </div>
  </div>
</div>
